language: php

sudo: false
dist: trusty

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

before_install:

before_script:
  # Set up Composer
  - composer self-update || true
  - composer install --prefer-dist

script:
  # PHPUnit
  - vendor/bin/phpunit

after_script:

# Cache vendor dirs
cache:
  directories:
    - vendor
    - $COMPOSER_CACHE_DIR
